body{
    margin: 0%;
}
 
.banner-img{
    width: 100%;
    height: 740px;
    object-fit: cover;
}

nav{
    
    background-color:transparent;
    height: 98px;
    width: 100%;
    position: absolute;
    top: -10px;
    z-index: 1;
}
.navbar{
display: flex;
}
.logo{
    width: 90px;
    height: 48.23px;
    object-fit: contain;
    /* margin-left: 40px; */
    align-items: center;
    /* padding: 10px; */
}
.navp{
    display: flex;
    color: white;
    padding: 10px 15px;
    padding-left: 35%;
     justify-content: center;
     align-items: center;
     gap: 15px;
     font:16px "Barlow Condensed",arial;
     margin-top: 20.5px;
     font-stretch: narrower;
}
.star{
    width: 25px;
    height: 17.35px;
    /* object-fit: cover; */
    padding-right: 9px;  
    margin: 2px 8px 0px 0px;
} 
.bannerphoto{
    position: relative;
}
.banner{
position: absolute;
}
.heading{
    position: relative;
    bottom:500px;
    margin-left: 80px;
}
.heading h1{
    color: white;
    font:60px "Barlow Condensed",arial;
    list-style: none;
    font-weight:lighter;
    font-stretch: condensed;
}
.heading h4{
    font:27px "Barlow Condensed",arial;
    color: #ffffff73;
    font-weight:lighter;
    font-stretch:extra-condensed;
}.inner-div{
    padding-top: 75px;
    display: flex;
    border-bottom: 2px solid rgba(211, 211, 211, 0.553);
    width: 480px;
    gap: 180px;
    list-style: none;
    padding-bottom: 20px;

}
input{
    background-color: transparent;
    color: #ffffff73;
    border:none;
    outline: none;
    font:20px "Barlow Condensed",arial;
    width: 250px; /* Adjust the width as needed */
}
  
 
  
  
.search-input::placeholder {
    font-size: 20px; /* Adjust the font size as needed */
    font-weight: lighter;
  }
  
/* .round-button{
    padding-bottom: 20px;
} */
.round{
    height: 35PX;
    width: 35px;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid rgb(255, 0, 0);
}
.inner-div2{
    padding-top: 80px;
    display: flex;
    list-style: none;
    gap: 16px;

}
.browse-collection{
    color: #ffffff;
    height: 58px;
    width: 400px;
    background-color:#f40b0b;
    border: none;
    border-radius: 10px;
    font:17px "Barlow Condensed",arial;
    font-stretch:extra-expanded;
    font-weight: 900px;
    letter-spacing: 2px;
}
.browse-collection:hover{
    background-color:#d60404f5;

}

.browse{
    text-decoration: none;
    color: #ffffff;
}
.setting{
    height: 58px;
    width: 58px;
    background-color: transparent;
    border-radius: 10px;
    transform: rotate(90deg);
    text-align: center;
    padding-bottom: 5px;
    border: 1.5px solid rgba(211, 211, 211, 0.635);
}
/* --------------------------------------------------------------------------------- */ 
/* sec2 */
.sec2{
    margin-top: 100px;
}
.h1{
    padding-top: 100px;
    font:42px "Barlow Condensed",arial;
    font-stretch: condensed;

}
.transprent{
    font-family: arial;
    /* font: "Barlow Condensed",arial; */
    color: transparent !important;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000d3;
}
.grid-part{
    /* background-color: aqua; */
    width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 25px;
    padding-bottom: 35px;
}
.info{
    display: flex;
    list-style: none;
    gap: 10px;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.pinfo{
    font:18px "Barlow Condensed",arial;
    color: #000000d7;
}
.secb23 {
    background-color: transparent;
    height: 58px;
    width: 58px;
    border-radius: 10px;
    align-items: center;
    border: 1px solid rgba(128, 128, 128, 0.751);
}
.knowmore-button{
    display: flex;
    list-style: none;
    border: 1px solid rgba(128, 128, 128, 0.747);
    border-radius: 10px;
    gap: 100px;
    height: 58px;
    width: 300px;
    font:17px "Barlow Condensed",arial;
    font-stretch:extra-expanded;
    align-items: center;
    color:black;
    align-items: center;
    justify-content: center;

}
.knowmore-button:hover{
    background-color: black;
    color: white;
}
.knowmore:hover{
    color: white;
}
.knowmore{
    font-weight: 900px;
    letter-spacing: 2px;
    background-color: transparent;
    border: none;
    align-self:flex-start;
    padding-left: 30px;
    font-weight: lighter;
    align-self: center;
    text-decoration: none;
    color:black;
}
.arrow:hover{
    color: white;
}


.sec2-know{
    text-decoration: none;
    color: black;
    
}
/* .sec2-know:hover{
    /* text-decoration: none; 
    color: white;
    background-color: black;
} */

.sec2-contain{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* display: flex; */
}

.image{
    margin-top: 120px;
}
.mainimg{
    height: 430px;
    width: 750px;
    object-fit: contain;
}
/* ------------------------------------- */
/* sec3 */
.sec3{
    margin-top: 100px;
    background-color: black;
    /* height: 500px; */
    padding-bottom: 100px;
}
.sec3-contain{
    padding-top: 100px;
    display: flex;
    gap: 70px;
}
.written3{

    flex: 1;
}

.sec3-h1{
    font:35px "Barlow Condensed",arial;
    color: #ffffff;
    font-stretch: condensed;
}
.video{
padding-left: 20px;
}

.sec3-info{
    display: flex;
    list-style: none;
    gap: 10px;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.sec3-pinfo{
    font:16px "Barlow Condensed",arial;
    color:#ffffff33;
}
.secb33 {
    background-color:#ffffff33;
    height: 50px;
    width: 50px;
    border-radius: 15px;
    align-items: center;
    border: none;
}

.explore-button{
    margin-top: 50px;
    display: flex;
    list-style: none;
    border-radius: 10px;
    gap: 150px;
    height: 50px;
    width: 300px;
    font:14px "Barlow Condensed",arial;
    font-stretch:extra-expanded;
    align-items: center;
    background-color: #ffffff33;
}
.explore{
    font-weight: 900px;
    letter-spacing: 2px;
    background-color: transparent;
    border: none;
    align-self:flex-start;
    padding-left: 30px;
    font-weight: lighter;
    color: #ffffff;
}
.explore-button:hover{
    background-color: rgba(61, 61, 61, 0.514);
}
/* product slider */


/* PRODUCT */
.sec4{
    margin-top: 50px;
    padding-bottom: 100px;
}
.product {
    position: relative;
    /* overflow: hidden; */
    padding: 20px;
     width: 100%;
     right: 20%;
  }
.Popular{
font:25px "Barlow Condensed",arial;
font-stretch: extra-condensed;
font-weight: bold;
}
.HVS-Bike{
    font:39px "Barlow Condensed",arial;
    font-weight: bold;
    font-stretch: extra-condensed;
}

 
  .product-container {
    /* padding: 0 10vw; */
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 90px;

  }
  .product-container::-webkit-scrollbar {
    display: none;
  }
  .product-card {
    flex: 0 0 auto;
    /* width: 400px; */
    /* height: 450px; */
    margin-left: 40px;
    white-space: nowrap;
    width: calc(100% / 3);
    /* overflow: hidden; */

  }
  .product-image {
    position: relative;
    width: 110%;
    /* height: 350px; */
  }
  .product-thumb {
    width: 105%;
    height: 115%;
    border-radius: 20px;
    /* object-fit: contain; */

  }

  .product-info{
    padding-top: 20px;
  }
  .product-brand {
    text-transform: uppercase;
    font:25px "Barlow Condensed",arial;
    font-stretch: condensed;
    font-weight: bold;
  }
  .product-short-description {
    width: 100%;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
  }
  .pre-btn{
    border: none;
    width: 45px;
    height: 48px;
    position: absolute;
    top: 0;
    cursor: pointer;
    z-index: 8;
    padding: 0;
    margin: 0;  
}

.nxt-btn {
  border: none;
  width: 45px;
  height: 48px;
  position: absolute;
  top: 0;
  cursor: pointer;
  z-index: 8;
  padding: 0;
  margin: 0;  
}

  
  .pre-btn {
    left: 98.4%;
    top: 52.3%;
    transform: rotate(180deg);
    border-radius: 0px 0px 0px 10px;
    background-color: #000000f5;
    color: rgba(169, 169, 169, 0.478);
    padding: 0;
    margin: 0; 

  }
  
  .nxt-btn {
    border-radius: 0px 0px 10px 0px;
    left: 98.4%;
    top: 60%;
    background-color: #050404f4;
    /* color: rgba(169, 169, 169, 0.478); */
    padding: 0;
    margin: 0; 
  }
  
  .pre-btn img,
  .nxt-btn img {
    opacity: 1;
  }
  
  .pre-btn:hover img,
  .nxt-btn:hover img {
    opacity: 1;
  }
  .sec5{
    padding-top: 50px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .sec5-h2{
    color: #ffffffc5;

  }
  .sec5-h6{
    color: #ffffff7e;
  }
  .howitworkimg{
    padding-top: 100px  ;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  .img-dec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 20px;
    padding-bottom: 100px;
  }
  .li-des{
    color: #ffffff7e;
  }
  .sec6{
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .frombbt{
    font:40px "Barlow Condensed",arial;
    color:black;
    padding-bottom: 30px;
    font-weight: bolder;
    font-stretch: condensed;
  }
  .sec6-contain{
    display: flex;
    gap: 30px;
  }
 .wallpaperimg{
    height: 350px;
    width: 580px;
    object-fit: cover;
    border-radius: 20px;
 }
 .perfumeimg{
    height: 350px;
    width: 400px;
    object-fit: cover;
    border-radius: 20px;
    position: relative;

 }
 .joinusimg{
    height: 350px;
    width: 300px;
    object-fit: cover;
    border-radius: 20px;
 }
 .name1{
    position: relative;
 }
 .name{
    font:28px "Barlow Condensed",arial;
    position: absolute;
    color: #ffffff;
    bottom: 0px;
    padding-left: 15px;
 }

 .knowmoreus-button{
    margin-top: 50px;
    display: flex;
    list-style: none;
    border: 1px solid rgba(128, 128, 128, 0.747);
    border-radius: 10px;
    gap: 60px;
    height: 58px;
    width: 350px;
    font:17px "Barlow Condensed",arial;
    font-stretch:extra-expanded;
    align-items: center;
    color:black;
    align-items: center;
    justify-content: center;
}
.knowmoreus{
    font-weight: 900px;
    letter-spacing: 1px;
    background-color: transparent;
    border: none;
    align-self:flex-start;
    padding-left: 10px;
    font-weight: lighter;
    align-self: center;
    color:black;

}
.knowmoreus-button:hover{
    background-color: black;
    color: white;
}


footer {
    height: 600px;
    background-color: #000000f5;
    /* color: darkgrey; */
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.98;
    color: rgba(169, 169, 169, 0.478);
}

.text {
    text-decoration: none;
    color: rgba(169, 169, 169, 0.478);
    padding: 5%;
}

footer .f1 a {
    text-decoration: none;
    color: inherit;
    margin: 10px;
    padding: 10px;
    font-size: 1rem;
}

.foot {
    font-family: Anton;
    font-size: 3rem;
    /* font-style: italic; */


    color: rgba(169, 169, 169, 0.646);
}

footer samp.f2 {
    font-family: Arial;
    font-size: 4rem;
}

footer samp.f3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    margin-bottom: 50px;
}

.f4 {
    padding-top: 50px;
}

.fimg1 {
    padding-top: 70px;
    height: 35px;
    width: 102px;
    position: absolute;
    left: 10%;
}

.fab {
    padding: 15px;
    text-align: left;
    font-size: large;
    padding-top: 70px;
}

.f5 {
    text-align: left;
    padding-left: 139px;
    font-size: small;
}