
/* nav {
    position: absolute;
    top: -8px;
    left: 64%;
    color:black;
    text-align: right;
    font-size: large;
} */

.frontpg {
    /* height: 400px; */
    width: 100%;
    margin: 0%;
    position: relative;
}

.frontpg .img1 {
    height: fit-content;
    width: 100%;
    margin: 0%;
}

.frontpg .frontpg1 {
    position: absolute;
    top: 6%;
    left: 2%;
    font-size: 50px;
    color: white;
    font-family: arial;
    /* Barlow, */
}

.frontpg .frontpg2 {
    position: absolute;
    top: 18%;
    left: 1.5%;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.662);
    font-family: arial;
    /* Barlow, */
}

input {
    position: absolute;
    top: 44%;
    left: 1.5%;
    padding: 10px;
    font-size: 25px;
    background-color: transparent;
    color: lightgray;
    border: none;
    border-bottom: 1px solid;
    outline: none;
    width: 28%;
}

input:focus {
    border-bottom: 2px solid;
    border-bottom-color: black;
}

.frontpg4 .a2 {
    position: absolute;
    top: 55%;
    left: 1.5%;
    background-color: red;
    font-size: 20px;
    border-radius: 10px;
    text-align: center;
    padding: 15px;
    color: white;
    width: 15%;
    border: none;

}
a{
    text-decoration: none;
    color: white;
}
.a2:hover {
    background-color: rgb(219, 13, 13);
    color: rgba(239, 230, 230, 0.976);
}

.frontpg5 .a1 {
    height: 35px;
    width: 35px;
    position: absolute;
    top: 44%;
    left: 28%;
    background-color: transparent;
    font-size: 20.3333px;
    border-radius: 50%;
    text-align: center;
    color: white;
    padding-bottom: 3.5px;
    border: none;
    cursor: pointer;
    border: 1px solid red;
}

.frontpg4 .a3 {
    position: absolute;
    top: 55%;
    left: 20%;
    background-color: transparent;
    font-size: 30px;
    border-radius: 10px;
    text-align: center;
    padding-bottom: 2.5px;
    padding-top: 0px;
    color: white;
    width: 5%;
    /* border: none; */
    border: 1px solid grey;
}

.sec2 {
    height: 700px;
    width: 100%;
    background-color: white;
    position: relative;
}

.sec21 {
    display: inline-block;
    height: 650px;
    width: 650px;
}

.sec21img {
    height: 506px;
    width: 700px;
    object-fit: contain;
    overflow: hidden;
    margin-left: 50px;
    margin-top: 100px;
    border-radius: 25px;
}

.sec2 .sec22 {
    text-transform: uppercase;
    position: absolute;
    left: 55%;
    top: 1%;
    font-size: 50px;
    font-family: arial;
}

.sec2 span {
    margin-top: 0%;
    padding: 0%;
    font-size: 42px;
    font-family: arial;
    color: transparent !important;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
}

.secb23 {
    background-color: transparent;
    height: 58px;
    width: 58px;
    border-radius: 10px;
    align-items: center;
    border: 1px solid grey;
}

.sec2 .bclock {
    position: absolute;
    left: 55%;
    top: 40%;
    margin-right: 15px;
}

.sec2 .pclock {
    position: absolute;
    left: 60%;
    top: 39%;
    margin-right: 15px;
    font-size: larger;
}

.sec2 .bcustomer {
    position: absolute;
    left: 55%;
    top: 60%;
    margin-right: 15px;
}

.sec2 .bknowmore {
    position: absolute;
    left: 55%;
    top: 80%;
    margin-right: 15px;
    border-radius: 10px;
    width: 25%;
    text-align: left;
    padding-left: 25px;
    font-family: Arial;
    text-transform: uppercase;
    font-size: larger;
    font-size: 18px;
}

.sec2 .bemi {
    position: absolute;
    left: 75%;
    top: 40%;
    margin-right: 15px;
}

.sec2 .bfast {
    position: absolute;
    left: 75%;
    top: 60%;
    margin-right: 15px;
}



.sec2 .pcustomer {
    position: absolute;
    left: 60%;
    top: 59%;
    margin-right: 15px;
    font-size: larger;
}

.sec2 .pemi {
    position: absolute;
    left: 80%;
    top: 39%;
    margin-right: 20px;
    font-size: larger;
}

.sec2 .pfast {
    position: absolute;
    left: 80%;
    top: 59%;
    margin-right: 15px;
    font-size: larger;
}


.sec3 {
    height: 550px;
    width: 100%;
    background-color: white;
    position: relative;
}

.sec3img {
    /* height:506px;
    width: 700px;
    // object-fit:contain; 
    position: absolute;
    left: 55%;
    top: 15%;
    border-radius: 25px; */
    height: 506px;
    width: 700px;
    object-fit: contain;
    overflow: hidden;
    margin-left: 50%;
    margin-top: 100px;
    border-radius: 25px;
}

.sec31 {
    text-transform: uppercase;
    position: absolute;
    font-size: 50px;
    font-family: arial;
    left: 27px;
    bottom: 85%;

}

.sec3 span {
    margin-top: 0%;
    padding: 0%;
    font-size: 42px;
    font-family: arial;
    color: transparent !important;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
}


.secb33 {
    background-color: transparent;
    height: 58px;
    width: 58px;
    border-radius: 10px;
    align-items: center;
    border: 1px solid grey;
}

.sec3 .bfast {
    position: absolute;
    left: 11%;
    top: 18%;
    margin-right: 15px;
}

.sec3 .pfast {
    position: absolute;
    left: 16%;
    top: 17%;
    margin-right: 15px;
    font-size: larger;
}

.sec3 .bcustomer {
    position: absolute;
    left: 11%;
    top: 38%;
    margin-right: 15px;
}

.sec3 .pcustomer {
    position: absolute;
    left: 16%;
    top: 37%;
    font-size: larger;
}

.sec3 .bknowmore {
    position: absolute;
    left: 11%;
    top: 58%;
    margin-right: 15px;
    border-radius: 10px;
    width: 25%;
    text-align: left;
    padding-left: 25px;
    font-family: Arial;
    text-transform: uppercase;
    font-size: 18px;
    background-color: white;
    border: 1px solid grey;
}

.bknowmore:hover {
    background-color: black;
    color: white;
}
/* PRODUCT */
.product {
    position: relative;
    /* overflow: hidden; */
    padding: 20px;
     width: 80%;
     right: 5%;
  }
.Popular{
position:relative;
font-size:x-large;
left: 7%;
}
.HVS-Bike{
    position:relative;
    font-size:xx-large;
    left: 7%;
}

 
  .product-container {
    /* padding: 0 10vw; */
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 80px;

  }
  .product-container::-webkit-scrollbar {
    display: none;
  }
  .product-card {
    flex: 0 0 auto;
    /* width: 400px; */
    /* height: 450px; */
    margin-left: 40px;
    white-space: nowrap;
    width: calc(100% / 3);
    /* overflow: hidden; */

  }
  .product-image {
    position: relative;
    width: 105%;
    /* height: 350px; */
  }
  .product-thumb {
    width: 115%;
    height: 115%;
    border-radius: 20px;
    /* object-fit: contain; */

  }
  .product-brand {
    text-transform: uppercase;
  }
  .product-short-description {
    width: 100%;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
  }
  .pre-btn{
    border: none;
    width: 45px;
    height: 48px;
    position: absolute;
    top: 0;
    cursor: pointer;
    z-index: 8;
    padding: 0;
    margin: 0;  
}

.nxt-btn {
  border: none;
  width: 45px;
  height: 48px;
  position: absolute;
  top: 0;
  cursor: pointer;
  z-index: 8;
  padding: 0;
  margin: 0;  
}

  
  .pre-btn {
    left: 98.4%;
    top: 52.3%;
    transform: rotate(180deg);
    border-radius: 0px 0px 0px 10px;
    background-color: #000000f5;
    color: rgba(169, 169, 169, 0.478);
    padding: 0;
    margin: 0; 

  }
  
  .nxt-btn {
    border-radius: 0px 0px 10px 0px;
    left: 98.4%;
    top: 60%;
    background-color: #050404f4;
    /* color: rgba(169, 169, 169, 0.478); */
    padding: 0;
    margin: 0; 
  }
  
  .pre-btn img,
  .nxt-btn img {
    opacity: 1;
  }
  
  .pre-btn:hover img,
  .nxt-btn:hover img {
    opacity: 1;
  }
 
  


footer {
    height: 600px;
    background-color: #000000f5;
    /* color: darkgrey; */
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.98;
    color: rgba(169, 169, 169, 0.478);
}

.text {
    text-decoration: none;
    color: rgba(169, 169, 169, 0.478);
    padding: 5%;
}

footer .f1 a {
    text-decoration: none;
    color: inherit;
    margin: 10px;
    padding: 10px;
    font-size: 1rem;
}

.foot {
    font-family: Anton;
    font-size: 3rem;
    /* font-style: italic; */


    color: rgba(169, 169, 169, 0.646);
}

footer samp.f2 {
    font-family: Arial;
    font-size: 4rem;
}

footer samp.f3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    margin-bottom: 50px;
}

.f4 {
    padding-top: 50px;
}

.fimg1 {
    padding-top: 70px;
    height: 35px;
    width: 102px;
    position: absolute;
    left: 10%;
}

.fab {
    padding: 15px;
    text-align: left;
    font-size: large;
    padding-top: 70px;
}

.f5 {
    text-align: left;
    padding-left: 139px;
    font-size: small;
}